/*
!.tmux.conf
!.gitconfig
!.config/
.config/iterm2/*
.config/karabiner/*
.config/raycast/*
.config/wireshark/*
.config/spicetify/*
.config/nvim-bak/plugin/*
.config/gh/*
!.zshrc
!.gitignore
**DS_Store

